apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-api-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-api
  template:
    metadata:
      labels:
        app: demo-api
    spec:
      containers:
      - name: demo-api-container
        image: ghcr.io/shibme/demo-api:latest
        ports:
        - containerPort: 80
        env:
        - name: DEMO_API_TOKEN
          value: demo_token